Cython==0.29.36
encor==1.1.2
enterprise_extensions==2.4.2
enterprise_pulsar==3.3.3
h5py==3.10.0
holodeck-gw==1.0
kalepy==1.4.3
KDEpy==1.1.8
la_forge==1.1.0
natsort==8.4.0
numpy==1.23.5
ptmcmcsampler==2.1.1
scipy==1.11.4
